h1{
    font-size: 32px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 36.8px;
    margin-top: 21.44px;
    color: #000000;
}

.btn-1{
    background-color: #0000FF;
    color:#fff;
    padding: 25px 80px;
}

.btn-1:hover{
    background-color: green;
}

p{
    font-size: 35px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;

}